body{
   width:900px ; 
   margin: auto;
}

.heder{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;

}
.butt{
    width: 100px;
    height: 50px;
    background-color: green;
}
.div{
    margin-top: 30px;
    display: flex;
}
.imga{
display: block;
text-align: end;
}

.li{

}
.image1, .image2,.image3{
  
    width: 518px;
}